body{
	margin: 20px;
	font-family: verdana;
}

.resaltado{
	background: yellow;
}

#menu-principal{
	padding: 10px 0px;	
}

.titulo{
	background-color: aliceblue;
	text-align: center;
	padding: 10px;
}

footer{
	border-top: 1px solid;
	padding: 10px;
	text-align: center;
}